.introWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  min-height: 100%;
  margin: 0;
  justify-content: flex-start; /* вместо center */
  margin-top: 0; /* если нужно */
  padding-top: 100px; /* если нужно */
  padding-bottom: 280px;
}
.introContent {
  display: flex;
  justify-content: center;
}
.title {
  text-align: center;

  font-size: 40px;
}

.helloText {
  color: rgb(116, 116, 116);
  font-size: 80px;
}
.titleText {
  font-size: 40px;
}
.introWrapper {
  display: flex;
}

.buttonProject {
  background-color: #ff3939;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 200px;
  height: 50px;

  color: #fff;
  transition: border 0.2s ease-in-out;
}
.buttonProject :hover {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(255, 255, 255);
}

.textMotto {
  display: flex;
  font-size: 25px;
}
.selectedProject {
  padding-top: 50px;
}
.buttonProject {
  transition: all 0.5s ease;
}
.buttonProject:hover {
  background-color: black;
}
